extends layouts/main.pug

block styles
    <link rel="stylesheet" href="/css/forms.css">

block content
    div.container
        div
            h1.pt-4 Frieza's Many Forms
        div
            h2
                p #[strong Lord Frieza] ipsum dolor amet prosciutto pork chop pastrami tongue beef ribs. Beef tenderloin drumstick pastrami pork loin tongue andouille fatback spare ribs pig hamburger salami. Ball tip chicken hamburger bresaola prosciutto frankfurter turkey tail shank drumstick strip steak cupim pig.
        .row
            .col-md-4.mb-lg-4
                img.img-fluid.img-thumbnail(src="img/form_1.jpg", alt="Frieza Form 1")
                p #[strong Form One]

            .col-md-4.mb-lg-4
                img.img-fluid.img-thumbnail(src="img/form_2.jpg", alt="Frieza Form 2")
                p #[strong Form Two]

            .col-md-4.mb-lg-4
                img.img-fluid.img-thumbnail(src="img/form_3.jpg", alt="Frieza Form 3")
                p #[strong Form Three]

            .col-md-4.mb-lg-4
                img.img-fluid.img-thumbnail(src="img/final_form.jpg", alt="Final Form")
                p #[strong Final Form]

            .col-md-4.mb-lg-4
                img.img-fluid.img-thumbnail(src="img/mecha_form.jpg", alt="Mecha Form")
                p #[strong Mecha Form]

            .col-md-4.mb-lg-4
                img.img-fluid.img-thumbnail(src="img/gold_form.jpg", alt="Gold Form")
                p #[strong Gold Form]