<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css"> 
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <div class="container">

        <div>
           <h1 class="pt-4">Frieza's Many Forms</h1>
        </div>
   
        <div>
            <h2>
                <p>
                   <strong>Lord Frieza</strong> ipsum dolor amet prosciutto pork chop pastrami tongue beef ribs. Beef tenderloin drumstick pastrami pork loin tongue andouille fatback spare ribs pig hamburger salami. Ball tip chicken hamburger bresaola prosciutto frankfurter turkey tail shank drumstick strip steak cupim pig.
                </p>
            </h2>
        </div>

        <div class="row">
   
            <div class="col-md-4 mb-lg-4">
              <img src="img/form_1.jpg" class="img-fluid img-thumbnail" alt="Frieza Form 1">
              <strong>Form One</strong> 
            </div>
      
            <div class="col-md-4 mb-lg-4">
              <img src="img/form_2.jpg" class="img-fluid img-thumbnail" alt="Frieza Form 2">
              <strong>Form Two</strong>
            </div>
      
            <div class="col-md-4 mb-lg-4">
              <img src="img/form_3.jpg" class="img-fluid img-thumbnail" alt="Frieza Form 3">
              <strong>Form Three</strong>
            </div>
      
            <div class="col-md-4 mb-lg-4">
              <img src="img/final_form.jpg" class="img-fluid img-thumbnail" alt="Final Form">
              <strong>Final Form</strong>
            </div>
      
            <div class="col-md-4 mb-lg-4">
              <img src="img/mecha_form.jpg" class="img-fluid img-thumbnail" alt="Mecha Form">
              <strong>Mecha Form</strong>
            </div>
      
            <div class="col-md-4 mb-lg-4">
              <img src="img/gold_form.jpg" class="img-fluid img-thumbnail" alt="Gold Form">
              <strong>Gold Form</strong>
            </div>
      
          </div>
   
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<%- include('includes/end.ejs') %>