<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css"> 
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <div class="container">

        <div>
            <h1 class="pt-4">Frieza - Lord of Destruction</h1>    
        </div>
        
        <div class="box pt-3">
            <div class="imgwrap">
                <img src="/img/frieza_2.png" alt="">
            </div>
         </div>

         <div class="row">
             <h2>
                 <p>
                    <strong><span class="f">F</span>rieza</strong> dolor sit amet, consectetur adipiscing elit. Sed vel facilisis tortor. Fusce euismod consectetur sapien, vitae eleifend ante aliquet vitae. Donec eleifend egestas justo, et maximus elit ornare id. Ut et magna vitae neque bibendum pellentesque. Vestibulum eget ligula luctus, molestie elit sit amet, ullamcorper erat. Duis sit amet posuere purus. Pellentesque tincidunt enim non tellus mollis tristique. Sed eu volutpat nibh.
                 </p>
                 <p>
                    Morbi purus lorem, commodo quis justo vehicula, scelerisque suscipit ante. <strong>Frieza</strong> sed porttitor erat. In dapibus, nibh id pharetra imperdiet, odio orci laoreet ante, mattis tempor est lorem a est. Quisque eget lobortis sem. Suspendisse ut fringilla leo. Fusce feugiat, tellus eget placerat rutrum, mi quam dictum est, nec tincidunt magna est aliquet urna. Duis malesuada quis est sit amet laoreet. In quam eros, posuere eget justo eleifend, molestie bibendum mi. Pellentesque hendrerit odio a libero semper elementum. Nam vel laoreet purus. Quisque imperdiet laoreet magna.
                 </p>
                 <p>
                    Sed at varius odio. Proin et dolor <strong>Frieza</strong> pretium luctus ut non nulla. Phasellus at urna metus. Ut in dui odio. Phasellus rutrum augue vel justo sodales, a sodales ligula venenatis. Cras ornare et massa sed bibendum. Suspendisse tincidunt lorem ac tellus dapibus pretium. Vestibulum varius blandit congue. Integer sit amet vulputate purus.
                 </p>
             </h2>
         </div>
     
    </div>

    <script>
        $(function(){
            $('.nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
            $('.nav a').click(function(){
                $(this).parent().addClass('active').siblings().removeClass('active')    
            })
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<%- include('includes/end.ejs') %>